body {
  background-color: orangered;
  margin: 0;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  text-align: center;
}

.card:hover {
  -webkit-animation: bounce 0.5s linear;
          animation: bounce 0.5s linear;
}

@-webkit-keyframes bounce {
  20% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  20% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

@keyframes bounce {
  20% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  20% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

.card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0;
}

.card-subtitle {
  font-weight: lighter;
  color: #077c07;
  margin-top: 5px;
}

.card-image {
  height: 180px;
}

#pokedex {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}
